
<div class='configurator-container' ng-controller="configurator" ng-class='{
	"hidden": !hasVariations,
	"visible": configuratorVisible,
	"display-mob": !controlsAvailable
}'>
	<div class='share show-small' ng-click='share();'>
		<icon src='/icons/icon-share.svg'></icon>
	</div>

	<div class='page-title show-small'>
		<h2 class='light-font' ng-click='toggleVisibility("view")'>View</h2>
		<div ng-click='toggleVisibility()'>
			<icon src='/icons/icon-double-arrow.svg'></icon>
		</div>
		<h2 class='dark-font text-right' ng-click='toggleVisibility()'>Configure</h2>
	</div>

	<div class='configurator' ng-if='hasVariations'>

		<!-- <div class='configurator-toggle' ng-click='toggleVisibility()'><icon src='/icons/icon-arrow.svg'></icon></div> -->

		<div class='configurator-toggle show-big' ng-click='toggleVisibility()'><icon src='/icons/icon-arrow.svg'></icon></div>

		<div class='share show-big' ng-click='share();'>
			<icon src='/icons/icon-share.svg'></icon>
		</div>

		<h1 class='dark-font show-big'>{{scene.attributes.title}}</h1>
		<p class='light-font' ng-if='scene.attributes.custom_json.description'>{{scene.attributes.custom_json.description}}</p>

		<!-- Loop for all products -->
		<div
			ng-repeat='product in products'
			ng-if='product.variations.length > 1'
			ng-style='{"margin-left" : (relationship[product.instanceid].level * 10) + "px"}'
			ng-class='{
				"squashed": !product.visiblePreview,
				"collapsed": product.collapsed
			}'
			class='product-view'
		>
			<h3 class='title dark-font'>
				<icon ng-style='{opacity: product.variations.length >= 5 ? 1 : 1}'	src='/icons/icon-arrow.svg' ng-click='toggleExpanded(product)'></icon>
				{{product.attributes.title}}
				<span class='variation-title light-font'>
					{{product.selectedVariation.attributes.title}}
				</span>
			</h3>

			<div class='slider-container'>
				<div class='slider'>
					<!-- slider of variations -->
					<div class='variation-selected'
						ng-class='{
							"selected": variation == product.selectedVariation,
							"squashed": !variation.visiblePreview,
							"square": !variation.swatch,
							"circle": variation.swatch && variation.thumbnail,
							"blank": !variation.swatch && !variation.thumbnail
						}'
						ng-repeat='variation in product.variations'
					>
						<div class='variation-container'
							ng-click='selectVariation(product, variation); scrollTo($event);'
						>
							<img ng-src="{{variation.swatch || variation.thumbnail}}" smoothload>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Displays an error message -->
		<div ng-if='error'>
			<h1>Error</h1>
			<h3>{{error}}</h3>
		</div>
	</div>
</div>
