<div ng-controller="configurator" class='configurator'>

	<div class='configurator-toggle' ng-click='toggleVisibility()'><icon src='/icons/icon-plus.svg'></icon></div>

	<h1>{{scene.attributes.title}}</h1>

	<!-- Loop for all products -->
	<div
		ng-repeat='product in products'
		ng-if='product.variations.length > 1'
		ng-style='{"margin-left" : (relationship[product.instanceid].level * 10) + "px"}'
		ng-class='{
			"squashed": !product.visiblePreview
		}'
		class='product-view'
	>
		<hr>

		<h3>{{product.attributes.title}} - {{product.selectedVariation.attributes.title}}</h3>

		<div class='slider-container'>
			<div class='slider'>
				<!-- slider of variations -->
				<div class='variation-selected'
					ng-class='{
						"selected": variation == product.selectedVariation,
						"squashed": !variation.visiblePreview
					}'
					ng-repeat='variation in product.variations'
				>
					<div class='variation-container'
						ng-click='selectVariation(product, variation)'
					>
						<img ng-src="{{variation.thumbnail}}" smoothload>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Displays an error message -->
	<div ng-if='error'>
		<h1>Error</h1>
		<h3>{{error}}</h3>
	</div>

	<!-- Pop out modal to display an error -->
	<!-- <div id="errorModal" class='modal' role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class='modal-inner'>
			<h1>Error</h1>
			<p>{{error}}</p>
			<button type="button" class="btn btn-primary" data-dismiss="modal">Understood</button>
		</div>
	</div> -->

	<!-- Sample Content -->
	<!-- <div>
		<hr>
		<h3>Dimensions</h3>

		<p><b>Height:</b> 115cm</p>
		<p><b>Depth:</b> 222cm</p>
		<p><b>Width:</b> 171cm</p>
	</div> -->

</div>
