<div ng-controller="mainController" class='container-fluid main-container'>
	<ng-include ng-if='loaded' src="'/common/modal/alert/modal.html'"></ng-include>
	<ng-include ng-if='loaded' src="'/common/modal/qrcode/qrcode.html'"></ng-include>
	<ng-include ng-if='loaded' src="'/annotation/annotation.html'"></ng-include>

	<div class='special-row' style='height:100%;'>

		<div class='asd'>
			<ng-include src="'/viewer/viewer.html'"></ng-include>
		</div>

		<ng-include ng-if='loaded' src="'/configurator/configurator.html'"></ng-include>

		<ng-include ng-if='loaded' src="'/page/page.html'"></ng-include>

		<ng-include src="'/modelviewer/modelviewer.html'"></ng-include>

	</div>
</div>
