body{
	// font-family: 'Nunito Sans', sans-serif;
	// font-family: 'Inter', sans-serif;
	font-family: 'Bebas Neue', sans-serif;
  line-height: 1.2;
}

.dark-font{
	color: #273029;
}
.medium-font{
	color: #1f2d3d;
}
.light-font{
	color: #8492a6;
}

.smoothload{
	transition: opacity 0.3s;
	opacity: 1;
}

.smoothload-out{
	opacity: 0;
}

.hidden{
	display: none;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
	cursor: pointer;
}

.top{
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.main-container{
	overflow: hidden;
	height: 100%;
	padding: 0;

	.row{
		position: relative;
	}
	.special-row{
		display: flex;
		// transition: grid-template-columns 0.5s;

		/*&.variations{
			grid-template-columns: 1fr 40px;
		}
		&.showing-variations{
			grid-template-columns: 1fr 300px;
		}*/

		.asd{
			position: relative;
			width: 100%;
		}
	}
}

button:focus, .btn:focus{
	outline: none;
}

@media (max-width: 768px) {
  .show-small{
    display: flex;
  }
  .show-big{
    display: none !important;
  }
}

@media (min-width: 768px) {
  .show-small{
    display: none !important;
  }
  .show-big{
    display: flex;
  }
}

// Webkit scollbar changes
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  // background: rgba(240,240,240,0.8);
  background: #e3e5e4;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  // background: rgba(200,200,200,0.8);
  background: #273029;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #273029;
	// background: rgba(200,200,200,0.4);
}
