body{
	font-family: proxima-nova, sans-serif;
}

.smoothload{
	transition: opacity 0.3s;
	opacity: 1;
}

.smoothload-out{
	opacity: 0;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
	cursor: pointer;
}

.top{
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.main-container{
	overflow: hidden;
	height: 100%;

	.row{
		position: relative;
	}
}


// Webkit scollbar changes
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(240,240,240,0.8);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(200,200,200,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,200,200,0.4);
}
