<div class='annotation-container'>
  <div ng-controller="annotation" class='annotation' ng-class='{"annotation-visible": annotationactive}'>
    <div class='frame' ng-class='{"border": annotation.title || annotation.text}'>
      <h1 ng-if='annotation.title'>{{annotation.title}}</h1>

      <div class='img' ng-if='annotation.fileType == "fileimage"' ng-style="{'background-image':'url({{annotation.file}})'}"></div>

      <div ng-if='annotation.fileType == "filevideo"' class='video'>
        <video ng-src="{{annotation.file}}" id="annotation-video" controls playsInline='true' autoPlay></video>
      </div>

      <div ng-if='annotation.url' class='iframe'>
        <iframe ng-src="{{annotation.url}}" id="annotation-iframe" allow="camera; vr; autoplay; xr-spatial-tracking" allowfullscreen></iframe>
      </div>

      <p ng-if='annotation.text'>{{annotation.text}}</p>
      <div class='button-close' ng-click='clearAnnotation()'>
        <icon src='/icons/icon-cross.svg'></icon>
      </div>
    </div>
  </div>
</div>