<div class='annotation-container'>
  <div ng-controller="annotation" class='annotation' ng-class='{"annotation-visible": annotationactive}'>
    <div class='annotation-bar'></div>

    <div class='frame' ng-class='{"borderr": annotation.text}'><!-- annotation.title || -->
      <div class='frame-inner'>
        <div class='button-close' ng-click='clearAnnotation()'>
          <icon src='/icons/icon-cross.svg'></icon>
        </div>

        <h1 ng-if='annotation.title'>{{annotation.title}}</h1>

        <img class='img' ng-if='annotation.fileType == "fileimage"' ng-src='{{annotation.file}}'></img>
        <!-- <div class='img' ng-if='annotation.fileType == "fileimage"' style="background-image:url({{annotation.file}})"></div> -->

        <div ng-if='annotation.fileType == "filevideo"' class='video'>
          <video ng-src="{{annotation.file}}" id="annotation-video" controls playsInline='true' autoPlay></video>
        </div>

        <div ng-if='annotation.url' class='iframe'>
          <iframe ng-src="{{annotation.url}}" id="annotation-iframe" allow="camera; autoplay; xr-spatial-tracking" allowfullscreen></iframe>
        </div>

        <p ng-if='annotation.text'>{{annotation.text}}</p>
      </div>

    </div>
  </div>
</div>