<div class='play show-small' ng-click='playPresentation();'>
	<icon src='/icons/icon-play.svg'></icon>
</div>

<div ng-controller="viewer" class='viewer' ng-class='{"fullscreen": isFullscreen}'>
	<div class='frame-padding' ng-class='{
		verticalDisplace: controlsVisible && controlsAvailable,
		horiztonalDisplace: configuratorVisible
	}'>
		<iframe id="plattar-frame" class='full' ng-src="{{embedUrl}}" frameBorder="0" allow="camera; autoplay; xr-spatial-tracking" allowfullscreen></iframe>

		<!-- <div ng-attr-id="{{clickType ? 'walkthrough-mouse' : 'walkthrough-touch'}}" class='walkthrough'  ng-class='{"walkthrough-hidden": hideWalkthrough}'>

			<div class='frame1 frame' ng-class='{"frame-hidden": hideframe1}'>
				<p ng-if='clickType'>
					Click & hold left mouse button to rotate
				</p>
				<p ng-if='!clickType'>
					<icon src='/icons/one-finger.svg'></icon> Use one finger to rotate
				</p>
			</div>

			<div class='frame2 frame' ng-class='{"frame-hidden": hideframe2}'>
				<p ng-if='clickType'>
					Use the scroll wheel to pull/push
				</p>
				<p ng-if='!clickType'>
					<icon src='/icons/two-fingers.svg'></icon> Use two fingers to pull/push
				</p>
			</div>
		</div> -->
	</div>

	<div class='controls-container' ng-class='{hidden: !controlsAvailable, visible: controlsVisible, "right-padding": configuratorVisible}'>
		<div class='controls show-big'>
			<icon class='arrow big' src='/icons/icon-arrow.svg' ng-click='toggleVisibility()'></icon>
		</div>

		<div class='controls show-small'>
			<h2 class='dark-font' ng-click='toggleVisibility()'>View</h2>
			<div ng-click='toggleVisibility()'>
				<icon class='arrow' src='/icons/icon-double-arrow.svg'></icon>
			</div>
			<h2 class='light-font text-right' ng-click='toggleVisibility("configure")'>Configure</h2>
		</div>

		<div class='qwe'>
			<div ng-if='!cameras || !cameras.length'></div>
			<h4 ng-if='cameras && cameras.length' class='show-small'>Select Angle</h4>
			<div>
				<div ng-repeat='camera in cameras' ng-class='{"selected": camera == selectedCamera}' class='camera'>
					<h2 ng-click='panToCamera(camera)'>
						<!-- {{camera.attributes.title}} -->
						<img ng-src="{{camera.image.sourcePath}}">
					</h2>
				</div>
			</div>

			<div class='extra'>
				<!-- <div class='presentation show-big' ng-click='playPresentation();'> -->
				<div class='presentation show-big' ng-click='inPresentation ? nextAnnotation() : playPresentation();'>
					<div class='play'>
						<icon src='/icons/icon-play.svg'></icon>
					</div>
					<h2 ng-if='inPresentation'>Next Feature</h2>
					<h2 ng-if='!inPresentation'>View Presentation</h2>
				</div>

				<div class='options show-big'>
					<span class='tooltipp' ng-click='toggleAnnotations()'>
						<icon ng-click='' src='/icons/icon-annotation.svg'></icon>
						<span class='tooltiptext'>
							{{annotationsVisible ? 'Hide' : 'Show'}} Annotations
						</span>
					</span>

					<!-- <span class='tooltipp'>
						<icon ng-click='' src='/icons/icon-ruler.svg'></icon>
						<span class='tooltiptext'>
							Show Measurements
						</span>
					</span> -->

					<span class='tooltipp' ng-click='resetTransforms()'>
						<icon src='/icons/icon-reset.svg'></icon>
						<span class='tooltiptext'>
							Reset View
						</span>
					</span>
				</div>

				<div class='options show-small' style='flex-direction: column;'>
					<h4 class='show-small'>Viewer Tools</h4>

					<div style='display: flex;'>
						<span ng-click='toggleAnnotations()'>
							<icon ng-click='' src='/icons/icon-annotation.svg'></icon>
							<p>{{annotationsVisible ? 'Hide' : 'Show'}} Annotations</p>
						</span>

						<span>
							<icon ng-click='' src='/icons/icon-ruler.svg'></icon>
							<p>Show Measurements</p>
						</span>

						<span ng-click='resetTransforms()'>
							<icon src='/icons/icon-reset.svg'></icon>
							<p>Reset View</p>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
