<div ng-controller="viewer" class='viewer' ng-class='{"fullscreen": isFullscreen}'>
	<ng-include ng-if='loaded && sceneId' src="'/annotation/annotation.html'"></ng-include>

	<div class='header'>
		<div ng-if='showAR' class='header-button' ng-click='toggleCamera()'>
			<icon src='/icons/icon-camera.svg'></icon>
		</div>

		<div class='header-button' ng-click='goFullscreen()'>
			<icon ng-if='!isFullscreen' src='/icons/icon-fullscreen.svg'></icon>
			<icon ng-if='isFullscreen' src='/icons/icon-fullscreen-in.svg'></icon>
		</div>

		<div class='header-button' ng-click='activateHelp($event)'>
			<icon src='/icons/icon-help.svg'></icon>
		</div>

		<div class='header-button' ng-click='resetTransforms()'>
			<icon src='/icons/icon-reset.svg'></icon>
		</div>
	</div>

	<div class='frame-padding'>
		<iframe id="plattar-frame" ng-src="{{embedUrl}}" frameBorder="0" allow="camera; vr; autoplay" allowfullscreen></iframe>

		<div ng-attr-id="{{clickType ? 'walkthrough-mouse' : 'walkthrough-touch'}}" class='walkthrough'  ng-class='{"walkthrough-hidden": hideWalkthrough}'>

			<div class='frame1 frame' ng-class='{"frame-hidden": hideframe1}'>
				<p ng-if='clickType'>
					Click & hold left mouse button to rotate
				</p>
				<p ng-if='!clickType'>
					<icon src='/icons/one-finger.svg'></icon> Use one finger to rotate
				</p>
			</div>

			<div class='frame2 frame' ng-class='{"frame-hidden": hideframe2}'>
				<p ng-if='clickType'>
					Use the scroll wheel to pull/push
				</p>
				<p ng-if='!clickType'>
					<icon src='/icons/two-fingers.svg'></icon> Use two fingers to pull/push
				</p>
			</div>

		</div>

	</div>
</div>
