@controls-height: 20vh;
@configurator-width: 400px;

@media (max-width: 768px) {
  .play{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 20px;
    bottom: 70px;
    background-color: white;
    z-index: 1;

    svg{
      width: 20px;
      height: 20px;
    }
  }
}

.viewer {
  height: 100%;

  .frame-padding {
    padding: 15px 0;
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
      overflow: hidden;

      &.full{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // z-index: -2;
        transition: top 0.5s, left 0.5s, height 0.5s, width 0.5s;
      }
    }

    @media (min-width: 768px) {
      &.verticalDisplace{
        iframe.full {
          height: calc(100% - @controls-height);
          // top: calc(-@controls-height/2);
        }
      }
      &.horiztonalDisplace{
        iframe.full {
          width: calc(100% - @configurator-width);
          // left: calc(-@configurator-width/2);
        }
      }
    }
  }

  .controls-container{
    padding: 10px;
    position: absolute;
    bottom: calc(-@controls-height + 30px);
    height: ~"max(200px, 20vh)";
    left: 0;
    right: 0;
    background-color: white;
    // z-index: -1;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transition: bottom 0.5s, padding 0.5s;
    padding-right: 60px;
    z-index: 6;

    &.right-padding{
      padding-right: 420px;
    }

    .controls{
      justify-content: space-between;
      padding: 0 30px 10px 30px;

      h2{
        font-size: 28px;
        width: 45%;
        margin: 0;
      }

      icon{
        svg{
          height: 20px;
          width: 20px;
        }
      }

      &.show-small{
        icon.arrow svg{
          transform: rotate(0deg);
        }
      }
    }

    &.hidden{
      bottom: -100vh;
    }

    &.visible{
      bottom: 0;

      icon.arrow{
        svg{
          transform: rotate(270deg);
        }
      }
    }

    icon.arrow{
      svg{
        width: 20px;
        height: 20px;
        transform: rotate(90deg);
        transition: transform 0.5s;
      }
    }

    .qwe{
      display: flex;
      justify-content: space-between;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      h4{
        margin-left: 5px;
        color: #273029;
        font-size: 16px;
      }

      .presentation{
        display: flex;
        align-items: center;

        h2{
          font-size: 16px;
          color: #397eff;
          margin: 0;
          margin-left: 20px;
        }

        .play{
          width: 50px;
          height: 50px;
          border-radius: 30px;
          box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
          display: flex;
          align-items: center;
          justify-content: space-around;

          svg{
            fill: #397eff;
            stroke: #397eff;
            width: 30px;
            height: 30px;
          }
        }
      }

      .options{
        text-align: left;
        display: block;
        margin-left: 55px;

        icon{
          padding: 10px;
        }

        &.show-small{
          text-align: center;

          p{
            margin-top: 15px;
            width: 100px;
            font-size: 12px;
          }
        }
      }

      .extra{
        width: 200px;
      }
    }

    .tooltipp {
      position: relative;

      /* Tooltip text */
      .tooltiptext {
        visibility: hidden;
        background-color: #292929;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        text-transform: none;
        font-size: 16px;
        opacity: 0;
        transition: opacity 0.3s;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 20;
        top: 28px;
        right: -43px;
        white-space: nowrap;
        padding: 7px 10px;
        width: 128px;

        &::after {
          content: " ";
          position: absolute;
          bottom: 100%; /* At the bottom of the tooltip */
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent #292929 transparent;
        }
      }

      /* Show the tooltip text when you mouse over the tooltip container */
      &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }

    .camera{
      display: inline-block;
      margin: 5px;
      transition: border-color 0.5s, width 0.5s, margin 0.5s, opacity 0.5s;
      border-width: 1px;
      border-top-style: solid;
      border-color: transparent;
      opacity: 0.8;

      img{
        max-height: 100px;
        max-width: 100px;

        @media (max-width: 768px) {
          max-height: 80px;
          max-width: 80px;
        }
      }

      &.selected{
        opacity: 1;
        border-color: rgba(57, 126, 255, 1.0);
      }
    }
  }

  @media (max-width: 768px) {
    .frame-padding {
      padding: 0;
    }

    .controls-container{
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      bottom: calc(-40vh + 50px);
      padding-right: 10px;
      height: 40vh;

      &.right-padding{
        padding-right: 10px;
      }
    }
  }

  /*&.fullscreen {
    .frame-padding {
      padding: 0;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      iframe {
        box-shadow: none;
        border-radius: 0;
      }
    }
  }

  .walkthrough {
    bottom: 25%;
    display: flex;
    font-size: 20px;
    height: 0;
    justify-content: space-around;
    margin: auto;
    opacity: 0.9;
    position: absolute;
    transition: opacity 0.3s;
    user-select: none;
    width: 100%;

    .frame {
      align-items: center;
      background: rgba(255,255,255,1);
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.5);
      color: black;
      display: flex;
      flex-direction: row;
      height: 75px;
      justify-content: space-around;
      margin: auto;
      max-width: 400px;
      opacity: 1;
      pointer-events: none;
      position: absolute;
      text-align: center;
      transition: opacity 0.5s;
      width: 95vw;

      p {
        display: inline;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        padding: 0 5px;

        svg {
          display: inline-block;
          height: 50px;
          max-height: 10vh;
          padding: 0 3px;
          vertical-align: middle;
          width: auto;
        }
      }

      &.frame-hidden {
        opacity: 0;
      }
    }

    &.walkthrough-hidden {
      display: none;
    }
  }*/
}
